

<!-- 
views/player/index.ejs -->
<%- include('../partials/header') %>

<div class="container">
    <h2>SQUAD SHEET</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Action</th> <!-- New column for delete action -->
          <th>Details</th> <!-- New column for player details -->
        </tr>
      </thead>
      <tbody>
        <% players.forEach(player => { %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.position %></td>
            <td>
              <!-- Button/link to delete player -->
              <form action="/players/<%= player._id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
              </form>
            </td>
            <td>
              <!-- Link to show player details -->
              <a href="/players/<%= player._id %>">View Details</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
