<!-- views/coaches/index.ejs -->
<%- include('../partials/header') %>

<h2>All Coaches</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        <% coaches.forEach(coach => { %>
            <tr>
                <td><%= coach.name %></td>
                <td><%= coach.age %></td>
                <td><%= coach.nationality %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>


