<%- include('../partials/footer') %> 



<!-- views/coaches/index.ejs -->
<%- include('../partials/header') %>

<h2>All Coaches</h2>
<ul>
    <% coaches.forEach(coach => { %>
        <li><%= coach.name %> (Age: <%= coach.age %>, Nationality: <%= coach.nationality %>)</li>
    <% }); %>
</ul>

<%- include('../partials/footer') %>

